html, body {
  background-color: white;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;  
  //font-family: 'Raleway', sans-serif; 
} 
.wrapper {
  margin: 0;
  width: 100%;
  background-image: url('../images/nanga.jpg');
  -webkit-filter: opacity(1);
  background-size: cover;
  height: 100vh;
}

p {
  font-family: 'Cormorant Garamond', serif;  
  line-height: 1.8em;
}

.invisible {
  display: none;
}

#title {
  //opacity: 0;
}

.absolute_center { color: white; position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

button.absolute_center {
  margin-top: 10em;
}

button {
  -webkit-transition-duration: .5s;
  border: solid white 2px;
  border-radius: 5px;
  padding: 1em 4em 1em 4em;
  background-color: rgba(0, 0, 0, .6);
}

button:hover {
  -webkit-transition-duration: .5s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .9);
}
.center {
  margin: 0 auto;
}

.modal {
  width: 60%;
  max-width: 750px;
  padding: 4em;
  background-color: white;
  color: black;
  box-shadow: 0px 5px 10px #7b7a7a;
  box-sizing: border-box;
  display: none;
  max-height: 500px;
  overflow-y: scroll;
}

.modal_close {
  text-align: center;
  color: grey;
  cursor: pointer;
}
